<!DOCTYPE html>
<html lang='fr'>

<head>
  <meta charset='utf-8' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  <meta content name='keywords' />
  <meta
    content="Le Crédit, en plus rapide ! Obtenez votre emprunt en 24h, à des taux imbattables jusqu'à 3 000€, sans frais de remboursement anticipé !"
    name='description' />
  <title class='translate'> {{title}} | Crédit en ligne : Emprunter de 500€ à 90 000€</title>

  <!-- Favicons -->
  <link href='/img/favicon.png' rel='icon' />
  <link href='/img/apple-touch-icon.png' rel='apple-touch-icon' />

  <!-- Google Fonts -->
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter:300,400,600,700,800' />

  <!-- Libraries CSS Files -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css' />
  <link rel='stylesheet' href="/lib/owlcarousel/assets/owl.carousel.min.css" />
  <link rel='stylesheet' href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel='stylesheet' href="/lib/bootstrap/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/lib/ionicons/css/ionicons.min.css" />
  <link rel='stylesheet' href="/lib/lightbox/css/lightbox.min.css" />
  <link rel='stylesheet' href="/lib/sweetalert/sweetalert.css" />
  <link rel='stylesheet' href="/lib/animate/animate.min.css" />

  <!-- Main Stylesheet File -->
  <link href="/css/jotform.css" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  <script type='text/javascript'
    src='https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'>
  </script>
</head>

<body id="app-layout">
  <!-- [if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif] -->

  <!--========================== Header ============================-->
  @!include('partials/header')

  @!section('content')

  <!--========================== Footer ============================-->
  @!include('partials/footer')

  <!--========================== Cookie ============================-->
  @!include('partials/cookie')

  <a href='#' class='back-to-top'><i class='fa fa-chevron-up'></i></a>

  <!-- JavaScript Libraries -->
  <script src='/lib/jquery/jquery.min.js'></script>
  <script src='/lib/jquery/jquery-migrate.min.js'></script>
  <script src='/lib/jquery/jquery-validate.min.js'></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/contact/contactform.js"></script>
  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>
</body>

</html>
